DATABASE_URL="postgresql://neondb_owner:npg_MS0wBaNvTI7V@ep-dark-mouse-adpn9n7e-pooler.c-2.us-east-1.aws.neon.tech/guardian_wallet_db?sslmode=require&channel_binding=require"
PORT=3000
JWT_SECRET="supersecret_guardian_wallet_key_change_in_prod"
JWT_REFRESH_SECRET="supersecret_refresh_key"

# Razorpay Configuration (Get keys from https://dashboard.razorpay.com/app/keys)
RAZORPAY_KEY_ID="rzp_test_SPqxNXWFxZ7KSe"
RAZORPAY_KEY_SECRET="mcdYsSo4dpyupP8QGvtHKnlS"